/* Загальні стилі */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Стилі для хедера */
header {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #333;
    margin: 0;
}

/* Стилі для кнопки */
main button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main button:hover {
    background-color: #0056b3;
}